@import url("reset.css");
body{
    margin: 0;
    padding: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #033958 0%, #80D0C7 100%);

}
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: white;
    border-radius: 30px;
    gap: 30px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.profile-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container img{
    width: 100%;
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
    border: 2px solid #04507c;
}
.bio-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 25px;
}
.details-wrapper{
    width: 100%;
    
}
.details-wrapper h1{
    font-size: 20px;
    color: #04507c;
}
.details-wrapper h2{
    font-size: 14px;
    color: #04507c;
    font-style: italic;
}
.details-wrapper p{
    font-size: 14px;
    color: #04507c;
    font-style: italic;
}
.company-wrapper{
    width: 100%;
    color: #04507c;
}
.company-wrapper h2{
    font-size: 18px;
}
.company-wrapper p{
    font-size: 12px;
    font-style: italic;
}

@media (min-width: 500px){
    .bio-container{
        flex-direction: row;
        margin-bottom: 2rem;
        gap: 0;
    }
    .container{
        gap: 20px;
        max-height: 350px;
    }

}
@media (min-width: 768px){
    .container{
        flex-direction: row;
        gap: 5px;
        max-height: 300px;
    }
    .bio-container{
        flex-direction: column;
        gap: 20px;
    }
}
